$color-border: #cccc;
$color-primario: #fff;
$color-container:black;
$color-card-border:gold;
$color-card-backg: #fffbe6;
$color-card-buttonp-back:#007bff;
$color-secundario: white;
$color-card-buttons-back: #6c757d;
$color-tercio: gray;
$color-cuarto: orange;
$color-quinto: violet;

