@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;


/*Modificadores de bloque */

.card {
border: 1px solid $color-border;
padding: 20px;
margin: 15px;
background-color: $color-primario;
border-radius: 6px;
}
.container{
border-color: $color-container;
}

.card--featured{
    border-color: $color-card-border;
    background-color: $color-card-backg;
}

/*Elementos*/
.card__title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card__description {
    font-size: 1rem;
    margin-bottom: 15px;
}

.card__button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*Modificadores de elementos*/


.card__button--primary{
    background-color: $color-card-buttonp-back;
    color: $color-secundario;
}

.card__button--secundary{
    background-color: $color-card-buttons-back;
    color: $color-secundario
}
// Estilos de Header

header{
    
    justify-content:  space-between;
    text-align: center;
    color: $color-tercio;

img {
    width: 20%;
    
}
h1{
    color: tomato;
    text-align: center;
}
h2{
    color: $color-card-border;
    text-align: center;
}

}
//Estilos de main

main{
    @include grid;
    h1{
        color: $color-card-border;
    }
    h2{
        color: tomato;
        text-align: center;
    }
    h3{
        color: blue;
        text-align: left;
        padding: 10px;
        border: 5px;
    }
    
    section{
        @include grid;
        background-color: white;
        
}
div{
    padding: 10px;
    border: 10px;
    text-align: justify;
  

}

}
//Estilos de footer

footer{
    text-align: center;
    color: $color-card-buttonp-back;
}


